<footer class="min-h-50vh page-footer font-small unique-color-dark pt-0 " style="background-color: #291025; border-top: 1.5px solid #9b6420;">
    <div class="primary-color">
        <div class="container">
            <div class="row py-4 d-flex align-items-center">
                <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
                    <h6 class="mb-0 white-text">Будь с нами в социальных сетях!</h6>
                </div>
                <div class="col-md-6 col-lg-7 text-center text-md-right">
                    <a href="#" class="fb-ic ml-0">
                        <i class="fa fa-facebook white-text mr-4"></i>
                    </a>
                    <a href="#" class="fb-ic ml-0">
                        <i class="fa fa-twitter white-text mr-4"></i>
                    </a>
                    <a href="#" class="fb-ic ml-0">
                        <i class="fa fa-instagram white-text mr-4"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container mt-5 mb-4 text-center text-md-left">
        <div class="row mt-3">
            <div class="col-md-3 col-lg-4 col-xl-3 mb-4">
                <h6 class="text-uppercase font-weight-bold"><strong>Интернет-магазин "BookCafe"</strong>></h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>Оформите покупку через наш интернет-магазин и читайте прямо сейчас :)</p>
            </div>
            <div class="col-md-2 col-lg-2 col-xl-2 mb-4">
                <h6 class="text-uppercase font-weight-bold"><strong>Жанры</strong></h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p><a href="#">Название жанра</a></p>
                <p><a href="#">Текст</a></p>
                <p><a href="#">Название жанра</a></p>
            </div>

            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                <h6 class="text-uppercase font-weight-bold"><strong>Жанры</strong></h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p><a href="#">Текст</a></p>
                <p><a href="#">Название жанра</a></p>
                <p><a href="#">Текст</a></p>
            </div>

            <div class="col-md-4 col-lg-3 col-xl-3">
                <h6 class="text-uppercase font-weight-bold"><strong>Контакты</strong></h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p> <i class="fa fa-home mr-3"></i>Текст</p>
                <p> <i class="fa fa-envelope mr-3"></i>info@gmail.com</p>
                <p> <i class="fa fa-phone mr-3"></i>+894 294 28 34</p>
                
            </div>
        </div>
    </div>
</footer>


