<nav class="navbar navbar-expand-lg sticky-top" style="background-color: #291025; border-bottom: 1.5px solid #9b6420;">
    <div class="col-12 row justify-content-between">
        <div class="row col-xl-1 col-12">
            <a href="/" class="mr-5 d-xl-flex d-none">
                <img src="/img/logo.png" width="40" height="40" alt="logo">
            </a>
          </div>
        <div class="row col-xl-4 col-12">
            <button onclick="location.href='/'" class="btn btn-warning col-xl-auto col-12 mx-1">Главная</button>
            <button onclick="location.href='/catalog'" class="btn col-xl-auto col-12 mx-1 " style="background-color: #a99ac4 !important; color:white; text-shadow: 1px 1px 2px black;">Каталог</button>
         </div>
        <div class="row col-xl-4 col-12">
            <form action="/search" class="row form-inline  my-lg-0 col-12" method="POST">
                <input name="searchinput" type="text" class="form-control col-xl-8 col-9" placeholder="Поиск" aria-label="Поиск" style="font-family: Marker Felt;">
                <button class="btn btn-dark ml-2 " style="background-color: #a99ac4 !important; color:white; text-shadow: 1px 1px 2px black;">Поиск</button>
            </form>
        </div>

        <div class="row col-xl-3 col-12">
            {{#if ('isundefined' session)}}
                <button onclick="location.href='/profile'" class="btn btn-dark col-xl-auto col-12 mx-1" style="background-color: #a99ac4 !important; color:white; text-shadow: 1px 1px 2px black;">Профиль</button>
                <button onclick="location.href='/bought'" class="btn btn-warning col-xl-auto col-12 mx-1" >Купленные книги</button>
                {{else}}
                <button data-toggle="modal" data-target="#loginmodal" class="btn btn-dark col-xl-auto col-12 mx-1" style="background-color: #a99ac4 !important; color:white; text-shadow: 1px 1px 2px black;">Вход</button>
                <button data-toggle="modal" data-target="#registrationmodal" class="btn btn-warning col-xl-auto col-12 mx-1">Регистрация</button>
            {{/if}}
        </div>
    </div>
</nav>

{{#if ('isundefined' session)}}
{{else}}
<div class="modal fade" id="loginmodal" tabindex="-1" role="dialog" aria-labelledby="registrationmodal" aria-hidden="true" >
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content" style="background-color: #a99ac4;">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle" style="font-family: Marker Felt; color:white; font-size: 20pt; text-shadow: 1px 1px 2px black;">Вход</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <label for="" style="font-family: Marker Felt; font-size: 15pt; color:white; text-shadow: 1px 1px 2px black;">Email</label>
        <input type="text" name="logemail" id="logemail" class="form-control" style="margin-bottom: 10px;">
        <label for="" style="font-family: Marker Felt; font-size: 15pt; margin-bottom: 10px; color:white; text-shadow: 1px 1px 2px black;">Пароль</label>
        <input type="password" name="logpassword" id="logpassword" class="form-control" style="margin-bottom: 10px;">
        <span class="text-danger" id="error-login"></span>
        <input type="submit" value="Войти" class="form-control btn btn-warning col-5" id="btnlog" style="margin-left: 135px; font-size: 17pt; font-family: Marker Felt; margin-top: 5px;">
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="registrationmodal" tabindex="-1" role="dialog" aria-labelledby="registrationmodal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content bg-warning">
      <div class="modal-header" style="border-bottom: 1px solid #ffc107;">
        <h5 class="modal-title bg-warning" id="exampleModalCenterTitle" style="font-family: Marker Felt; font-size: 20pt;">Регистрация</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <label for="" style="font-family: Marker Felt; margin-bottom: 10px; font-size: 15pt;">Email</label>
        <input type="text" name="regemail" id="regemail" class="form-control" style="margin-bottom: 10px;">
        <label for="" style="font-family: Marker Felt; margin-bottom: 10px; font-size: 15pt;">Пароль</label>
        <input type="password" name="regpassword" id="regpassword" class="form-control" style="margin-bottom: 10px;">
        <label for="" style="font-family: Marker Felt; margin-bottom: 10px; font-size: 15pt;">Повторите пароль</label>
        <input type="password" name="regpassword2" id="regpassword2" class="form-control" style="margin-bottom: 10px;">
        <label for="" style="font-family: Marker Felt; margin-bottom: 10px; font-size: 15pt;">Имя</label>
        <input type="text" name="regname" id="regname" class="form-control" style="margin-bottom: 10px;">
        <label for="" style="font-family: Marker Felt; margin-bottom: 10px; font-size: 15pt;">Фамилия</label>
        <input type="text" name="regsurname" id="regsurname" class="form-control" style="margin-bottom: 10px;">
        <span class="text-danger" id="error-registration"></span>
        <input type="submit" value="Зарегистрироваться" class="form-control btn col-6" id="btnreg" style="margin-left: 115px; font-size: 17pt; background-color: #a99ac4 !important; color:white; text-shadow: 1px 1px 2px black;">
      </div>
    </div>
  </div>
</div>
{{/if}}